:root {
    --text-light: #000;
}
html {
    font-family: 'Open Sans', sans-serif;
}
.page-header {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;;
    background-image: url(../images/egypt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.categories {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    /* použijte auto-fit s šířkou sloupce minimálně 300px */
    grid-template-columns: repeat(auto-fit, 300px) ;
    justify-content: center;
    padding: 1em;
    gap: 1em;
}
.categories__item {
    position: relative;
    color: inherit;
    /* max-height: 80vh; */
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}
.categories__item:hover {
    box-shadow: 0 0 8px 2px var(--text-light);
    transition: transform 1s ease;
    transform: scale(1.1);
}
.categories__item-image {
    filter: brightness(0.9) saturate(1) contrast(1);
    transition: transform 1s ease;
    
}
.categories__item-description {
    padding: 1em;
    color: white;
    position: absolute;
    bottom: 0;
    transition: transform 1s ease;
}
/* TODO */

.categories__item:hover .categories__item-description{
    transform: translateY(-150px);
}

.categories__item:hover .categories__item-image{
    transform: scale(1.5);
}

:is(.categories__item):has(.categories__item:hover){
    filter:blur(4px)
}
/* Global */
.img-responsive {
    width: 100%;
    display: block;
}
figure, h2 {
    margin: 0;
}
.heading {
    margin: 0.25em 0;
    font-weight: bold;
}
.heading--h1 {
    text-transform: uppercase;
    font-size: 2em;
    color: var(--text-light);
}